<br>
<br>
<br>


<div class="fluid-container">
<div class="jumbotron">
<center>
= image_tag('lbdr.svg')
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h3>Please select your preferred language</h3>

.col-md-12
  = select_tag 'set_locale', options_for_select(@languages), prompt: "Select language" ,:class=>"select_language", :onchange=>"getSelect(this)", :style => "background-color: #333333; color: white;"

</center>


</div>
</div>
<br>
<br>
<br>
