<br>
<br>
<br>


<div class="container-fluid">
<div class="jumbotron">
</div>
</div>


<br>
<br>




.col-md-12[style="text-align: center; padding-bottom: 15px;"]
  = select_tag 'set_locale', options_for_select(@languages), prompt: "Select language" ,:class=>"select_language", :onchange=>"getSelect(this)", :style => "background-color: #333333; color: white; padding-bottom: 5px;"



<style>



</style>
